<h1>{{title}}</h1>

<div class="entete">
    <label>title</label> <input type="text" id="title" placeholder="title..." value="" size="40" autofocus />
    <label>content</label> <input type="text" id="content" placeholder="content ..." value="" size="40" autofocus />
    <label>copies</label> <input type="text" id="copies" placeholder="copies ..." value="1" size="1" autofocus />
    <select id="page_orientation">
        <option value=0>Portrait</option>
        <option value=1 selected>Paysage</option>
        <option value=2 selected>Auto</option>
    </select>
</div>

<div class="listPrinters">
    <ul class="printers_list">
        {{#each printers}}
            <li>
                {{displayName}} {{connectionStatus}} {{id}}
                <button type="button" class="btn btn-xs" onclick="mcImpression.cmdImprime('{{id}}');">&nbsp;Imprime</button>
            </li>
        {{/each}}
    </ul>

</div>

<script>

    jQuery(document).ready(function() {
        mcImpression.start();
    });

    mcImpression = {
        start: function () {
            mcImpression.mcUrl = '{{options.db.baseUrl}}';
        },

        cmdImprime: function (pId, pCallBack) {
            var title = document.getElementById("title").value;
            var content = document.getElementById("content").value;
            var copies = document.getElementById("copies").value;
            var page_orientation = document.getElementById("page_orientation").value;
            var l_Data = {};

            if (pId) {
                var url = mcImpression.mcUrl +'/cloudprint/print?id='+ pId;
                if (content){l_Data.content = content}
                if (title){l_Data.title = title}
                if (copies){l_Data.copies = copies}
                if (page_orientation){l_Data.page_orientation = page_orientation}

                $.ajax({
                    type: "POST",
                    async: true,
                    url: url,
                    data: l_Data,
                    success: function (data) {
                        console.log('success POST');
                        console.log(JSON.stringify(data));
                    },
                    error: function (xhr) {
                        console.log({status: xhr.status, statusText: xhr.statusText});
                    }
                });
            }
        }
    }

</script>