<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<script src="/assets/global/plugins/jquery.min.js"></script>
{{{body}}}
</body>
</html>
